<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>utf-8</charset>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.springframework" level="warn" />
  <logger name="bitronix.tm" level="warn" />
  <logger name="org.hibernate" level="warn" />
  <logger name="org.apache.activemq" level="warn" />

  <logger name="ee.homies.gaffer" level="info" />

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>